.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 60%;
}
.rp{
  width: 40%;
  min-height: 50%;
  margin-bottom: 2em;
  margin-top: 0.5em;
}
#cover{
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}
mat-toolbar-row{
  width: 80%;
  margin: 0 auto;
}
.btn{
  position: absolute;
  bottom: 9%;
  right: 7%;
}
#rep{
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
}
.reposs{
  /* border: solid; */
  width: 30%;
}
.avatars {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 40%;
}
#show{
  display: flex;
  margin-bottom: 1em;
  height: 90%;
}
.link{
  text-decoration: none;
}
#alert{
  text-align: center;
}
