.wrap{
  margin-top: 0 0;
  text-align: center;
  position: absolute;

  left: 15%;
  top: 30%;
  /* display: flex; */
}
.cover{
  margin:  0;
  height: 100%;
  background-image: url('../../../assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
}
#rotate{
  position: absolute;
  top: 1%;
  right: 30%;
}